html {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 14pt;
}

@media only screen and (max-width: 780px) {
    html {
        font-size: 8pt;
    }
}

*:focus {
    outline: none;
}

.btn:hover {
    background-color: #7c779e;
}

.btn:active {
    background-color: white;
    color: #9686fc;
}

body {
    background-color: #36393f;
    margin: 0px;
}

.body-error {
    background-color: #2c2122;
    margin: 0px;
}

nav {
    background-color: #2f3136;
    box-shadow: 0px 5px 5px 2px #222324;
    display: flex;
    justify-content: space-between;
}

@media only screen and (max-width: 780px) {
    .nav {
        flex-wrap: wrap;
    }
}

@media only screen and (max-width: 780px) {
    .title-container    {
        max-height: 20px;
        order: 0;
    }
}

h1 {
    padding: 0px 20px;
    font-size: 2rem;
    color: #c1b8fd;
}

h2 {
    font-size: 1.5rem;
}

h4 {
    color: rgb(236, 236, 236);
}

@media only screen and (max-width: 780px) {
    h1 {
        padding: 0px 20px;
        font-size: 2rem;
        color: #c1b8fd;
    }
    
    h2 {
        font-size: 1.5rem;
    }
}

.user-container {
    display: flex;
    justify-content: right;
    margin: 0px 15px 0px 0px;
}

.username-container {
    display: flex;
    align-items: center;
    margin-left: auto;
    padding: 0px 10px;
}

@media only screen and (max-width: 780px) {
    .username-container {
        margin: -30px 0px 0px 15px;
        order: 2;
        width: 100%
    }
}

.username {
    color: white;
}

.avatar-container {
    display: flex;
    align-items: center;
    padding: 0px 20px 0px 7px;
    position: relative;
}

@media only screen and (max-width: 780px) {
    .avatar-container {
        margin: 0px 10px;
        padding: 12px 7px 0px 7px;
        order: 1;
    }
}

.avatar {
    border-radius: 50%;
    border: 2px solid #c1b8fd;
    border-width: 2px;
    overflow: hidden;
    box-shadow: 3px 3px 5px #222324;
}

.avatar:hover {
    box-shadow: 0px 0px 3px 2.5px #c1b8fd;
}

.log-out-menu {
    position: absolute;
    top: 90px;
    left: -20px;
}

.log-out-pointer {
    position: absolute;
    top: -9px;
    left: 40px;
}

@media only screen and (max-width: 780px) {
    .log-out-menu {
        top: 84px;
        left: 0px;
    }
    
    .log-out-pointer {
        width: 22px;
        top: -7px;
        left: 23px;
    }
}

.log-out-menu-hide {
    display: none;
}

.log-out-button {
    color: white;
    background-color: #36393f;
    border: 2px solid #c1b8fd;
    border-width: 2px;
    border-radius: 3px;
    box-shadow: 1.5px 1.5px 6px 0.8px #222324;
    min-height: 32px;
}

.main-container {
    margin: 20px 40px;
}

@media only screen and (max-width: 780px) {
    .main-container {
        margin: 2vw 2vw;
    }
}

.message-container {
    display: none;
    border: 3px solid #c1b8fd;
    border-width: 3px;
    border-radius: 3px;
    align-items: center;
    background-color: #2b2c2e;
    margin: 0.5vh 3.5vw;
    width: auto;
}

.message-container-show {
    display: flex;
}

.skip-container {
    display: flex;
    justify-content: space-evenly;
    margin-top: 1.5vh;
}

.search-container {
    display: flex;
}

.skip-button {
    font-size: 2.5rem;
    color: white;
    background-color:#50555f;
    border: 5px solid #c1b8fd;
    border-width: 5px;
    border-radius: 3px;
    min-height: 120px;
    min-width: 45vw;
    margin: 6px 6px;
}

@media only screen and (max-width: 780px) {
    .skip-button {
        min-height: 22vw;
    }
}

.search-hide {
    display: none;
}

.search {
    color: white;
    background-color: #2b2c2e;
    font-size: 1.2rem;
    border: 5px solid #c1b8fd;
    border-width: 5px;
    border-radius: 3px;
    margin: 20px 60px;
    width: 100%;
}

@media only screen and (max-width: 780px) {
    .search {
        font-size: 1.6rem;
        border: 3px solid #c1b8fd;
        border-width: 3px;
        border-radius: 2px;
        margin: 3vw 3.8vw;
    }
}

::placeholder {
    color: rgb(199, 199, 199);
}

.btn-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    background-color: #36393f;
}

.sound-btn {
    font-size: 1.2rem;
    color: white;
    border: 5px solid #c1b8fd;
    border-width: 5px;
    border-radius: 3px;
    /* good 1080p box size is 150px; */
    min-width: 150px;
    min-height: 150px;
    max-width: 150px;
    margin: 6px 6px;
    background-color:#50555f;
    word-wrap: break-word;
}

@media only screen and (max-width: 780px) {
    .sound-btn {
        border: 3px solid #c1b8fd;
        border-width: 3px;
        border-radius: 2px;
        min-width: 20vw;
        min-height: 20vw;
        max-width: 20vw;
     }
 }

 .btn-hide {
    display: none;
}

 .sound-btn:not(.btn-red, .btn-green) {
    transition-property: border-color;
    transition-duration: 1s;
    transition-delay: 2s;
}

.btn-red {
    border-color: #ff7480;
}

.btn-green {
    border-color: #8cffa5;
}
